<html>
    <head>
        <title>Sanrio Database</title>
        <meta name="description" content="Index">
        <link rel="stylesheet" href="css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css?family=Protest+Riot" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Grandstander" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
    </head>

    <div class="nav">
        <a href="index.html" class="logo">Kelsey Corro</a>
        <a href="index">Home</a>
        <a href="form">Form</a>
        <a class="active" href="collection">Collection</a>
    </div> 

    <body>
    <h1>List of Sanrio Characters in Database </h1>
        <table>
            <tr>
                <th>Character Name</th>
                <th>Species</th>
                <th>Creation Year</th>
                <th>Birthday</th>
            </tr>
            <% for(character of characters) { %>
                <tr>
                    <td><%= character.name %></td>
                    <td><%= character.species %></td>
                    <td><%= character.creation_year %></td>
                    <td><%= character.birthday.toLocaleDateString() %></td>
                    <!-- <%= character.name + " " + character.species + " " + character.creation_year + " " + character.birthday.toLocaleDateString() %>  -->
                </tr>
            <% } %>
        </table>
    </body>
</html>